.mechat-about
    width: calc(100% - 70px)
    text-align: center
    position: relative
    
    .mechat-about-logo
        margin: 50px 0px
        
        img
            width: 150px
            height: 150px

    .mechat-about-description
        a
            color: rgb(71, 185, 221)

    .mechat-about-copyright
        width: 100%
        position: absolute
        bottom: 10px
        text-align: center
        color: #888
        font-size: 14px
    .mechat-about-title
        h1
            margin: 0px
        span
            font-size: 12px
    