.mechat-grouplist
    position: relative
.mechat-group-create
    width: 50px
    height 50px
    line-height: 50px
    font-size: 20px
    border-radius: 50%
    color: #fff
    background: rgb(18, 150, 17)
    border: 0px
    box-shadow: 1px 1px 3px solid #eee
    transition: .3s all
    cursor: pointer
    position: absolute
    bottom: 20px
    right: 20px
    text-align: center
    &:hover
        background: lighten(rgb(18, 150, 17), 10%)

.mechat-profile-exit
    width: 150px
    height: 40px
    font-size: 16px
    line-height: 40px
    border: 0px
    margin-left: 30px
    display: inline-block
    color: #ff
    background: rgb(240, 0, 25)
    text-decoration: none
    margin-top: 40px
    transition: .2s all ease-out
    cursor: pointer

    &:hover
        background: lighten(rgb(240, 0, 25), 40%)