.mechat-group-chat
    display: flex
.mechat-group-container
    width: 70%
    height: 100%
.mechat-group-members
    width: 30%
    height: 100%
    overflow-x: hidden
    overflow-y: auto
    border-left: 1px solid #eee
    .mechat-group-members-list
        width: 100%
        .mechat-chat-title
            width: 100%
        .mechat-group-members-item
            width: 100%
            font-size: 12px
            height: 30px
            line-height: 30px
            display: flex
            margin: 10px 8px
            img
                width: 30px
                height: 30px
                border-radius: 50%
                margin-right: 3px
.mechat-group-members-invite
    position: absolute
    bottom: 0px
    input
        font-size: 12px
        padding: 10px 11px
        outline: 0
    button
        font-size: 12px
        background: rgb(18, 150, 17)
        border: 0px
        color: #fff
        padding: 9px 4px 10px 4px
        cursor: pointer
        transition: .3s all linear
        &:hover
            background: lighten(rgb(18, 150, 17), 10%)

.invite-button
    display: block
    line-height: 40px
    float: right     
    cursor: pointer       