.mechat-profile-page
    width: calc(100% - 310px)
    height: 100%
    text-align: center

    .mechat-profile-title
        height: 40px
        font-size: 14px
        line-height: 40px
        margin: 0px

    .mechat-profile-container
        margin-top: 50px
    
    .mechat-profile-avatar img
        width: 180px
        height: 180px
        border-radius: 50%

    .mechat-profile-nickname
        font-size: 26px
    
    .mechat-profile-account
        font-size: 14px
        color: #888
    
    .mechat-profile-chat
        width: 150px
        height: 40px
        line-height: 40px
        display: inline-block
        color: #ff
        background: rgb(26, 173, 25)
        text-decoration: none
        margin-top: 40px
        transition: .2s all ease-out

        &:hover
            background: lighten(rgb(26, 173, 25), 10%)