.mechat-profile-edit
    width: calc(100% - 310px)
    height: 100%
    text-align: center
    overflow: hidden

    .mechat-profile-title
        height: 40px
        font-size: 14px
        line-height: 40px
        margin: 0px
    
    .mechat-profile-edit-avatar img 
        width: 180px
        height: 180px
        border-radius: 50%
        cursor: pointer

    .mechat-profile-edit-container
        margin-top: 50px
    
    .mechat-profile-edit-form
        margin-top: 20px

        input
            margin-left: 20px
            width: 300px
            padding: 8px

    .mechat-profile-edit-submit
        width: 100px
        padding: 10px 0px
        font-size: 16px
        background: rgb(245, 245, 245)
        margin-top: 40px
        border: 1px solid #eee
        transition: .3s background linear
        cursor: pointer

        &:hover
            color: #fff
            background: rgb(18, 150, 17)