.mechat-register-page
    width: 100%
    margin-top: 20px
    text-align: center
    position: absolute
    top: 0px

.mechat-register-title
    font-size: 24px

.mechat-register-page input
    width: 80%
    font-size: 14px
    padding: 8px 0px
    margin: 5px 0px
    outline: 0
    border: 0px
    border-bottom: 1px solid #888

.mechat-register-actions
    margin-top: 20px

    .mechat-register-button
        background: #eee
        border: 0px
        padding: 10px 20px
        outline: 0
        transition: .3s all linear

        &:hover
            background: darken(#eee, 10%)

.mechat-register-login
    display: block
    color: #888
    font-size: 12px
    margin-top: 20px